body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  
}
:root{
  --mainColor: #007AF5;
  --secondBtn:rgb(39, 179, 39);
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 10px;
}

.vh-100{
  height: 100vh;
}

.font-italic{
  font-family: 'Pacifico', cursive;
}
.font-header{
  font-family: 'Bebas Neue', cursive;
}
.main-color{
  color: var(--mainColor);
}
.font-size-header{
  font-size: 30px;
}
.bg-second{
  background-color: var(--secondBtn) !important;
  color: white !important;
}
.cursor{
  cursor: pointer;
}
.img-style{
  height: 100%;
  width: 100%;
  background-position: center;
  object-fit: cover;
}
.img-section{
  max-height:  40vh;
  min-height: 350px;
  height: 100%;
  overflow: hidden;
}